.titulo{
    display: block;
    text-align: center;
    max-width: 100%;
    background-color: darkred;
    color: white;

}

.datos{
    display: inline;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
}
input{
    width: 150px;
}