<!doctype html>

<html lang="es-VE">

<head>
    <meta charset="utf-8">
    <title>Registro de Ingreso</title>
    <meta name="description" content="Registro de Ingreso">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/static/css/ingreso.css">
    <script src="../public/static/js/captura.js">

    </script>
</head>

<body>

    <form action="/registrar" method="post" onkeypress="return event.keyCode != 13;">

        <div class="titulo">
            <label for="datos">
                <h1>Datos de Ingreso</h1>
            </label>
        </div>

        <div class="titulo">
            <label for="visitante">
                <h2>Visitante</h2>
            </label>
        </div>

        <div class="datos">
            <label for="cedula">Cédula:</label>
            <input type="text">
            <label for="primer_nombre">1er. Nombre:</label>
            <input type="text">
            <label for="segundo_nombre">2do. Nombre:</label>
            <input type="text">
            <label for="primer_apellido">1er. Apellido:</label>
            <input type="text">
            <label for="segundo_apellido">2do. Apellido:</label>
            <input type="text">
        </div>

        <div class="titulo">
            <label for="visita">
                <h2>Visita</h2>
            </label>
        </div>

        <div class="datos">
            <label for="piso">Piso:</label>
            <input type="text">
            <label for="unidad">Unidad:</label>
            <input type="text">
            <label for="servidor">Empleado:</label>
            <input type="text">
        </div>

        <div>
            <label for="fotos" class="titulo">
                <h2>Fotos</h2>
            </label>
        </div>

        <div class="contentarea">
            <div class="camera">
                <video id="video">Camara no Disponible</video>
                <button id="startbutton">Tomar Foto</button>
            </div>

            <canvas id="canvas">

            </canvas>

            <div class="output">
                <img id="photo" alt="La foto Aparecerá en este aquí.">
            </div>
        </div>

        <div class="button">
            <input type="submit" class="boton1" name="ingresar" value="ingresar" />
            <input type="submit" class="boton2" name="egresar" value="egresar" />
        </div>

    </form>

</body>

</html>