<!doctype html>

<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Registro de Ingreso</title>
  <meta name="description" content="Registro de Ingreso">
  <link rel="stylesheet" href="../public/static/css/ingreso.css">
</head>

<body>
    <div class="titulo">
        <label for="datos"><h1>Datos</h1></label>
    </div>
    <div class="titulo">
        <label for="visitante"><h2>Visitante</h2></label>
    </div>
    <div class="datos">
        <label for="cedula">Cédula:</label>
        <input type="text">
        <label for="primer_nombre">1er. Nombre:</label>
        <input type="text">
        <label for="segundo_nombre">2do. Nombre:</label>
        <input type="text">
        <label for="primer_apellido">1er. Apellido:</label>
        <input type="text">
        <label for="segundo_apellido">2do. Apellido:</label>
        <input type="text">
    </div>
    
    <div class="titulo">
        <label for="visita"><h2>Visita</h2></label>
    </div>
    <div class="datos">
    <label for="piso">Piso:</label>
        <input type="text">
        <label for="unidad">Unidad:</label>
        <input type="text">
        <label for="servidor">Empleado:</label>
        <input type="text">
    </div>
    
    <div>
        <label for="fotos" class="titulo"><h2>Fotos</h2></label>
    </div>
</body>

</html>