<!doctype html>

<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Registro de Ingreso o Egreso</title>
  <meta name="description" content="Registro de Ingreso o Egreso">
  <link rel="stylesheet" href="../public/static/css/registrar.css">
</head>

<body>
  <form action="/registro" method="post">
    <div>
      <input type="text" name="ingreso"><br>
    </div>
    <div>
      <input type="image" src="../public/static/images/log-in.png" name="ingresar" value="ingresar"/>
      <input type="image" src="../public/static/images/log-out.png" name="egresar" value="egresar"/>
      <input type="submit" class="boton" name="egresar2" value="egresar2" />
    </div>
  </form> 
</body>
</html>