<!doctype html>

<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Registro de Ingreso o Egreso</title>
  <meta name="description" content="Registro de Ingreso o Egreso">
  <link rel="stylesheet" href="../public/static/css/registrar.css">
</head>

<body>
  <form action="/registro" method="post" onkeypress="return event.keyCode != 13;">
    <div>
      <input type="text" name="ingreso" placeholder="Cédula o Pase" /><br>
    </div>
    <div>
      <input type="submit" class="boton1" name="ingresar" value="ingresar" />
      <input type="submit" class="boton2" name="egresar" value="egresar" />
    </div>
  </form> 
</body>

</html>